@import '_variables';
@import '_mixins';


body {
  background-color: #aaa;
}

.main-header {
  color: #444;
}

@import './modules/_banner';
@import './modules/_location';
@import './modules/_menu';
@import './modules/_partners';
@import './modules/_registration';
@import './modules/_schedule';
@import './modules/_speakers';


a {
  text-decoration-color: red;
}
