.menu {
  position: fixed;
  width: $page-width;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: $primary-color;
  padding: 0 $container-padding;
  z-index: 1;
}

.menu__logo {
  display: block;
  height: $menu-height;
  width: 190px;
  background: lightgrey;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__item {
  color: $font-dark;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  margin: 0 9.7px;
  padding: 3px 0;
  border-bottom: 1px solid #C9A400;
}

.navigation__item[href="#participate"] {
  border: 2px #333 solid;
  margin: 0 0 0 14px;
  padding: 6px 10px;
}
